{% extends 'dash.html' %}

{% block content %}
<div class="container w-70">
    <h1>Products Added</h1>
    <ul class="list-group list-group-numbered">
        {% for product in products %}
        <li class="list-group-item"> 
            <b>{{product.name}}</b>
            <br><br>
            <div class="container-fluid">
                <button class="btn btn-danger btn-sm">Delete</button>
                <button class="btn btn-primary btn-sm">Edit</button>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}